// This SCSS file is used for the body tag and some base styles for the site.

// Path: assets/scss/base/body.scss
// Compare this snippet from themes/hugo-coder/assets/scss/_base.scss:

// Inherit box-sizing from html

// Use ../functions/_index.scss which contains the function rem() to convert pixels to
// rems. See https://sass-lang.com/documentation/modules/math#

// Highlight styles
.highlight {
  div,
  pre {
    margin: rem(32) 0;
    padding: rem(16);
    border-radius: rem(8);

    // Hide the scrollbar.
    scrollbar-width: none;
  }
}

// Pre styles
pre {
  display: block;
  font-family: $code-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  overflow-x: auto;
  margin: rem(24) 0;
  padding: 1rem;
  border-radius: rem(8);

  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }
}

// Code styles
code {
  font-family: $code-font-family;
  border-radius: rem(4);
  padding: rem(2) rem(5);

  // Inline code color should match the default style for code blocks
  // syntax-highlighted with Chroma.
  background-color: #282c34;
  color: #abb2bf;
}

blockquote {
  border-left: rem(3) solid $accent-color;
  padding-left: rem(24);
  padding-right: rem(32);
  line-height: rem(22);
  font-weight: 400;
  font-style: italic;
}
