// This SCSS file is used for the body tag and some base styles for the site.

// Path: assets/scss/base/body.scss
// Compare this snippet from themes/hugo-coder/assets/scss/_base.scss:

// Inherit box-sizing from html

// Use ../functions/_index.scss which contains the function rem() to convert pixels to
// rems. See https://sass-lang.com/documentation/modules/math#

@use "../util/index" as *;
@use "../style/index" as *;

table {
  display: table;
  border-collapse: collapse;
  border: 2px solid $alt-fg-color;
  width: 100%;
  font-size: medium;
  white-space: wrap;
  line-height: 1.15;

  @include max {
    width: auto;

    // Center the table on small screens.
    margin-left: auto;
    margin-right: auto;

    // Make the table scrollable on small screens
    display: block;
    overflow-x: auto;
  }

  td,
  th {
    text-align: left;
    padding: rem(8);
  }

  // Make the table header sticky.
  th {
    position: sticky;
    top: rem(41);
    background-color: $alt-bg-color;

    // Keep the table header from overflowing the container on small screens by resetting
    // the top position.
    @include min {
      top: rem(52);

      // Reset the position to static.
      position: static;
    }
  }

  td {
    border: rem(2) solid $alt-fg-color;
  }
}
