// Tags and categories should be inline-block elements to allow for link animations.

@use "../util/index" as *;
@use "../style/index" as *;

.taxonomy-links {
  padding-top: rem(16);
}

.tax {
  margin: rem(16) 0;
  font-size: rem(16);
  font-weight: 600;
  color: $fg-color;

  .taxes {
    display: inline-block;
    margin: 0;

    // Set padding to 24px to match the padding of the post list.
    padding-left: rem(24);

    list-style: square;

    .taxing {
      .taxlin {
        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }
}
