<!-- Icons used by the web browsers tab and/or taskbar. -->
<link
  rel="icon"
  type="image/svg+xml"
  href="{{ .Site.Params.images.favicon | default "/images/favicon.ico" | relURL }}"
  sizes="any"
>

<!-- Other icons used by the web browsers tab and/or taskbar. -->
<link
  rel="icon"
  type="image/png"
  ref="{{ .Site.Params.images.favicon_32 | default "/images/favicon-32x32.png" | relURL }}"
  sizes="32x32"
>
<link
  rel="icon"
  type="image/png"
  href="{{ .Site.Params.images.favicon_16 | default "/images/favicon-16x16.png" | relURL }}"
  sizes="16x16"
>

<!-- iOS icons for touch devices. -->
<link
  rel="apple-touch-icon"
  href="{{ .Site.Params.images.apple_touch | default "/images/apple-touch-icon.png" | relURL }}"
>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ .Site.Params.images.apple_touch | default "/images/apple-touch-icon.png" | relURL }}"
>

<!-- Android icons for touch devices. -->
<link
  rel="manifest"
  href="{{ .Site.Params.images.manifest | default "/images/site.webmanifest" | relURL }}"
>

<!-- Safari pinned tab icon. -->
<link
  rel="mask-icon"
  href="{{ .Site.Params.images.safari_pinned | default "/images/favicon.ico" | relURL }}"
  color="{{ .Site.Params.images.mask_icon_color | default "#5bbad5" }}"
>
