// This SCSS file is used for the body tag and some base styles for the site.

// Path: assets/scss/base/body.scss
// Compare this snippet from themes/hugo-coder/assets/scss/_base.scss:

// Inherit box-sizing from html

@use "util/index" as *;
@use "style/index" as *;

.about {
  // Align both vertically
  // display: flex;
  margin: auto;

  // padding-top: rem(48);

  // Align the text to the center
  text-align: center;
  padding-top: 0;
  // top: rem(42);
  position: relative;

  .description {
    font-size: rem(24);
    text-decoration: none;
    color: $fg-color;
    margin-top: 0;

    @include max {
      font-size: rem(20);
    }
  }

  .social-order {
    list-style: none;

    .socials {
      display: inline-block;
      position: relative;

      .fa-icon {
        i {
          margin: 0 rem(32) 0 0;
          font-size: rem(32);
          // transition: all 0.2s ease-in-out;

          &:hover,
          &:focus,
          &:active {
            //   cursor: pointer;
            //   transform: scale(1.5);
            color: $link-color;
          }

          @include max {
            font-size: rem(20);
          }
        }
      }

      // Prevent small screens from stacking
      @include max {
        margin: rem(8) 0;
      }
    }
  }
}
