// Use colors set for the social icons in assets/scss/util/style/colors.scss

// Social icons don't have to standout with color, the icon itself is enough.

@use "util/index" as *;
@use "style/index" as *;

.fa-brands {
  color: $social-color;
}

// Both the link and link-slash icons should be half of the default paragraph text size.
.fa-link,
.fa-link-slash {
  font-size: rem(8);
  line-height: rem(12);

  // Align the icons with the text.
  vertical-align: top;
  margin: 0;
}

// Set color for general fa-icons based on usage.
.fa-file,
.fa-file-text,
.fa-file-pdf-o,
.fa-file-pdf,
.fa-file-word-o,
.fa-file-word,
.fa-file-excel-o,
.fa-file-excel,
.fa-file-powerpoint-o,
.fa-file-powerpoint,
.fa-file-image-o,
.fa-file-image {
  color: $fa-file;
}

.fa-calendar {
  color: $fa-calendar;
}

.fa-clock-o,
.fa-clock {
  color: $fa-clock;
}

.fa-tag {
  color: $fa-tag;
}

.fa-user {
  color: $fa-user;
}

.fa-folder,
.fa-folder-open {
  color: $fa-folder;
}

.fa-folder-open {
  color: $fa-folder-open;
}

.fa-copyright {
  vertical-align: top;
  font-size: rem(12);
  line-height: rem(16);
  padding-top: rem(8);
  margin: 0;
}
