// Use colors set for the social icons in assets/scss/util/style/colors.scss

.fa-facebook,
.fa-facebook-square,
.fa-facebook-official {
  color: $social-facebook;
}

.fa-twitter,
.fa-twitter-square {
  color: $social-twitter;
}

.fa-instagram,
.fa-instagram-square {
  color: $social-instagram;
}

.fa-youtube,
.fa-youtube-square {
  color: $social-youtube;
}

.fa-linkedin,
.fa-linkedin-square {
  color: $social-linkedin;
}

.fa-github,
.fa-github-square,
.fa-github-alt {
  color: $social-github;
}

.fa-stack-overflow,
.fa-stack-overflow-square {
  color: $social-stack-overflow;
}

.fa-medium,
.fa-medium-square {
  color: $social-medium;
}

.fa-codepen,
.fa-codepen-square {
  color: $social-codepen;
}

.fa-dribbble,
.fa-dribbble-square {
  color: $social-dribbble;
}

.fa-behance,
.fa-behance-square {
  color: $social-behance;
}

.fa-reddit,
.fa-reddit-square,
.fa-reddit-alien {
  color: $social-reddit;
}

.fa-pinterest,
.fa-pinterest-square {
  color: $social-pinterest;
}

.fa-rss,
.fa-rss-square {
  color: $social-rss;
}

.fa-google,
.fa-google-plus,
.fa-google-plus-square {
  color: $social-gmail;
}

.fa-skype,
.fa-skype-square {
  color: $social-skype;
}

.fa-gitlab,
.fa-gitlab-square {
  color: $social-gitlab;
}

.fa-bitbucket,
.fa-bitbucket-square {
  color: $social-bitbucket;
}

// Set color for general fa-icons based on usage.
.fa-file,
.fa-file-text,
.fa-file-pdf-o,
.fa-file-pdf,
.fa-file-word-o,
.fa-file-word,
.fa-file-excel-o,
.fa-file-excel,
.fa-file-powerpoint-o,
.fa-file-powerpoint,
.fa-file-image-o,
.fa-file-image {
  color: $fa-file;
}

.fa-calendar {
  color: $fa-calendar;
}

.fa-clock-o,
.fa-clock {
  color: $fa-clock;
}

.fa-tag {
  color: $fa-tag;
}

.fa-user {
  color: $fa-user;
}

.fa-folder,
.fa-folder-open {
  color: $fa-folder;
}

.fa-folder-open {
  color: $fa-folder-open;
}

.fa-copyright {
  vertical-align: top;
  font-size: rem(12);
  line-height: rem(16);
  padding-top: rem(8);
  margin: 0;
}
