// This SCSS file is used for the body tag and some base styles for the site.

// Path: assets/scss/base/body.scss
// Compare this snippet from themes/hugo-coder/assets/scss/_base.scss:

// Inherit box-sizing from html

// Use ../functions/_index.scss which contains the function rem() to convert pixels to
// rems. See https://sass-lang.com/documentation/modules/math#

@use "util/index" as *;
@use "style/index" as *;

.avatar,
.error404,
.construction {
  width: rem(360);
  height: rem(360);

  margin-bottom: rem(32);

  @include max {
    width: rem(192);
    height: rem(192);
  }
}

// Featured image on the post page, about page and other non-post pages.
.featured {
  // Make the image fill the width of the container.
  width: 100%;

  // This will cuase the image to look squished, but it needs to be done to make the
  // image not so large
  height: rem(128);

  @include max {
    height: rem(128);
  }
}
