// This SCSS file is used for the body tag and some base styles for the site.

// Path: assets/scss/base/body.scss
// Compare this snippet from themes/hugo-coder/assets/scss/_base.scss:

// Inherit box-sizing from html

.list-title {
  font-size: rem(42);
  line-height: rem(46);
  color: $alt-accent-color;

  // Set media query for max-width to 800px or less.
  @include max {
    font-size: rem(40);
    line-height: rem(44);
  }
}

.blogging {
  margin-top: rem(32) 0;
  list-style: none;
  padding: rem(4) rem(32);

  // Make the list scrollable and set the max-height to 256px.
  overflow-y: auto;
  height: rem(320);

  // Hide the scrollbar.
  scrollbar-width: none;

  @include max {
    margin-top: rem(48);

    // Padding left and right should be 2px top and bottom should be 8px.
    padding: rem(80) rem(2);

    // Set the max-height to 128px.
    max-height: rem(192);
  }

  li {
    margin-bottom: rem(10);
    font-size: rem(18);

    .date {
      text-align: left;
      margin-right: rem(32);
      // font-size: rem(20);

      @include max {
        display: block;
        text-align: left;
        font-size: rem(14);
      }
    }

    .title {
      // font-size: rem(18);
      float: right;
      color: $fg-color;
      font-family: $font-family;
      font-weight: 600;
      transition: all 0.25s ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $link-color;
        font-size: rem(19);
        font-weight: 700;
      }

      @include max {
        font-size: rem(14);
        display: block;
        float: left;
      }
    }
  }
}

// This is a taxonomy list and needs to be styled differently from the post list.
// Use a button instead of a link for the taxonomy list and buttons need to be
// horizontally centered.
.taxonomy {
  list-style: none;
  margin: rem(48) auto;
  padding: 0;

  // Center the list.
  text-align: center;

  li {
    margin-left: rem(10);
    display: inline-block;
    position: relative;

    button {
      margin-bottom: rem(16);
      font-size: rem(18);
      color: $fg-color;
      font-family: $font-family;
      font-weight: 700;
      border: none;
      border-radius: rem(4);
      background-color: $bg-color;

      width: rem(156);
      height: rem(64);

      transition: all 0.25s ease-in-out;

      &:hover,
      &:focus {
        a {
          color: $fg-color;
          text-decoration: none;
        }

        background-color: $link-color;
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    @include max {
      button {
        width: rem(96);
        height: rem(32);
        font-size: rem(14);
      }
    }
  }
}

ul:not(.pagination, .taxonomy) {
  li {
    @include max {
      display: flex;
      flex-direction: column;
      float: none;
      margin-left: 0;

      .date {
        text-align: center;
        margin: 0;
      }

      .title {
        text-align: center;
      }
    }
  }
}
