<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" . }}
</head>

<body>

  <!-- Wrapper id is used for containing the main content -->
  <main id=wrapper class="wrapper">
    {{ partial "navigation.html" . }}


    {{ block "content" . }}{{ end }}


    {{ partial "footer.html" . }}
  </main>

  <!-- Scripts -->

  {{ if .HasShortcode "mermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@9.3.0/dist/mermaid.min.js"
    integrity="sha256-QdTG1YTLLTwD3b95jLqFxpQX9uYuJMNAtVZgwKX4oYU=" crossorigin="anonymous"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}

  <!-- Custom local JS -->
  {{ range .Site.Params.customJS }}
  {{ if $.Site.IsServer }}
  {{ $script := resources.Get . }}
  <script src="{{ $script.RelPermalink }}"></script>
  {{ else }}
  {{ $script := resources.Get . | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
  {{ end }}

  <!-- Custom remote JS -->
  {{ range .Site.Params.customRemoteJS }}
  {{ if $.Site.IsServer }}
  {{ $script := resources.GetRemote . }}
  <script src="{{ $script.RelPermalink }}"></script>
  {{ else }}
  {{ $script := resources.GetRemote . | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
  {{ end }}

  <!-- Find the partials/analytic.html file and include it -->
  {{ partial "analytics.html" . }}

  {{- partial "body/extensions" . -}}
</body>

</html>
