/*
  The wrapper is where all the content of the page should go. It should be centered on the page
  and have a max-width of 920px or 67% of the page: whichever is greater.
*/

@use "../util/index" as *;
@use "../style/index" as *;

.wrapper {
  max-width: rem(1080);
  margin: 0 auto;

  // Keep footer at the bottom of the page.
  display: flex;
  flex-direction: column;

  // Push the footer to the bottom of the page.
  min-height: 100vh;
  background-color: $alt-bg-color;

  .container {
    // Push the footer and set the top of the content to below the navigation.
    flex: auto;

    // Margin on the left and right and 0 at the top and bottom.
    margin: rem(66.5) rem(24) rem(0) rem(24);

    // Small screens
    @include max {
      // margin: rem(56) rem(16) rem(0) rem(16);
    }
  }
}
