<section class="container list">
  <header class="pagination">

    <!-- Only use the featured images if on is set. -->
    {{ with .Params.featuredImage }}
      <img class="featured" src="{{ . | relURL }}" alt="Featured image" />
    {{ end }}

    <h1 class="title">
      {{- if eq .Kind "term" -}} {{- i18n .Data.Plural 1 | title -}} {{- print
      ": " -}} {{- end -}} {{- i18n (lower .Title) | default .Title | title
      -}}
    </h1>
  </header>

  {{ .Content }}

  <ul class="blogging">
    {{ range .Paginator.Pages }}
    <li>
      <span class="date"
        >{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span
      >
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}"
        >{{ .Title }}</a
      >
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
