<section class="container taxonomy">
  <header>
    <!-- Only use the featured images if on is set. -->
    {{ with .Params.featuredImage }}
    <img class="featured" src="{{ . | relURL }}" alt="Featured image" />
    {{ end }}

    <h1 class="title">
      {{- if eq .Kind "term" -}} {{- i18n .Data.Plural | title -}} {{- print ":"
      -}} {{- end -}} {{- i18n (lower .Title) | default .Title | title -}}
    </h1>
  </header>
  {{ .Content }}
  <ul class="taxonomy">
    {{ $type := .Type }} {{ range $key, $value := .Data.Terms.Alphabetical }} {{
    $name := .Name }} {{ $count := .Count }} {{ with $.Site.GetPage (printf
    "/%s/%s" $type $name) }}
    <li>
      <!-- Use a button -->
      <button>
        <a class="taxonomy-title" href="{{ .Permalink }}">{{ .Name }}</a>
        <sup>{{ $count }}</sup>
      </button>
    </li>
    {{ end }} {{ end }}
  </ul>
</section>
