<!-- Custom local JS -->
{{ range .Site.Params.customJS }} {{ if $.Site.IsServer }} {{ $script :=
resources.Get . }}
<script src="{{ $script.RelPermalink }}"></script>
{{ else }} {{ $script := resources.Get . | minify | fingerprint }}
<script
  src="{{ $script.RelPermalink }}"
  integrity="{{ $script.Data.Integrity }}"
></script>
{{ end }} {{ end }}

<!-- Custom remote JS -->
{{ range .Site.Params.customRemoteJS }} {{ if $.Site.IsServer }} {{ $script :=
resources.GetRemote . }}
<script src="{{ $script.RelPermalink }}"></script>
{{ else }} {{ $script := resources.GetRemote . | minify | fingerprint }}
<script
  src="{{ $script.RelPermalink }}"
  integrity="{{ $script.Data.Integrity }}"
></script>
{{ end }} {{ end }}
